.emoji-text {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}

.bg-wrapper {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.single-result-container {
    margin-top: 6rem;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 3.5rem;
    display: grid;
    column-gap: 1rem;
    background: none;
    backdrop-filter: blur(30px);
}

.single-result-container hr{
    margin: 2.5rem 0;
}

.item-1 {
    grid-column: 1/5;
}

.item-2 {
    grid-column: 1/4;
}

.item-3 {
    grid-column: 4;
}

.closeBtn {
    border-radius: 50%;
    border: 3px solid black;
}

.closeBtn:hover {
    cursor: pointer;
    border: 3px solid white;

}

.movie-poster {
    position: relative;
    margin-bottom: 1rem;
}

.movie-poster .poster-img {
    min-height: 445px;
    max-height: 445px;
    min-width: 320px;
    max-width: 320px;
    border: 3px solid white;
    background-color: var(--primary);
    border-radius: 1rem;
}

.movie-poster .overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    max-width: 320px;
    border-radius: 1rem;
    object-fit: cover;
    /* pointer-events: none; */
    z-index: 2;
    opacity: 0.85;
}

/* Rating Info */
.rating-info {
    min-width: 320px;
    max-width: 320px;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem !important;
    color: white;
    /* background-color: var(--light-dark-color); */
    border: 3px solid white;
}

.rating-info b {
    font-size: 1.125rem;
}

.rating-info .icon {
    width: 4rem;
    margin-right: 5px;
    aspect-ratio: 1;
    border: none;
    border-radius: 1rem;
}

.badges {
    margin-top: -5px;
    width: 1.5rem;
    aspect-ratio: 1;
}

/* Socials */
.social-info {
    min-width: 320px;
    max-width: 320px;
    border-radius: 1rem;
    /* padding: 1rem; */
    color: white;
    /* background-color: var(--light-dark-color); */
    border: 3px solid white;
}

.social-heading {
    width: 100%;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding: 1rem;
}

.social-info hr {
    margin: 0;
    color: white;
    opacity: 1;
    /* border: 1px solid var(--primary); */
}

.social-icons {
    padding: 0.5rem;
}

.social-icons svg {
    margin: 0.5rem;
}

.social-icons a {
    color: white;
}

.fb {
    background-color: white;
    border-radius: 50%;
}

.insta {
    border-radius: 0.5rem;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.mal {
    width: 60px;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    color: white;
    background-color: #2E51A2;
}

.imdb {
    color: black;
    margin: 0.55rem 0;
    background-color: #F5C518;
    border-radius: 0.25rem;
}

/* Movie Info */
.genre-btn {
    color: var(--primary);
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 3px solid var(--primary);
    margin: 0.5rem 5px;
    background: none;
    transition: all 0.3s;
}

.genre-btn:hover {
    background: var(--primary);
    color: white;
    border: 3px solid white;
}

.genre-btn:focus{
  background-color: var(--primary);
  color: white;
  border: 3px solid white;
}

.movie-info {
    color: #fff;
    border-radius: 1rem;
    width: 1080px;
    height: max-content;
    margin-bottom: 1rem;
}

.movie-info b {
    color: var(--primary);
    font-size: 1.25rem;
}

.movie-info p {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    /* margin: 1rem; */
}

.movie-title {
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary);
    /* -webkit-text-stroke: 1px black; */
}

.eng-title {
    font-style: italic;
    font-size: 1.75rem;
    color: white;
    margin-top: 1rem;

}

/* related-info */
.related-info .heading {
    margin-left: -1rem;
    margin-right: 0;
    padding: 0 0.75rem;
}

.related-list {
    display: flex;
    flex-wrap: wrap;
}